# =====================================
# Django Configuration
# =====================================

SECRET_KEY = 'django-insecure-$$sp!14+9pqmv!r19l1a6!lrb7f@5zlecg35wf$*%tuv2h(-ls'
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# =====================================
# PostgreSQL
# =====================================

DB_NAME=lms
DB_USER=lmsuser
DB_PASSWORD=lmspass
DB_HOST=db
DB_PORT=5432

# =====================================
# Redis Cache
# =====================================

REDIS_URL=redis://redis:6379/1

# =====================================
# MongoDB
# =====================================

MONGO_URI=mongodb://mongodb:27017/

# =====================================
# Celery & RabbitMQ
# =====================================

CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
CELERY_RESULT_BACKEND=redis://redis:6379/2

# =====================================
# Timezone
# =====================================

TIME_ZONE=Asia/Jakarta